<form action="/save-product" method="POST" class="create" >

    <div class="input-block">
        <label for="">Nome do produto</label>
        <input type="text" name="name" required>
    </div>

    <div class="input-block">
        <label for="">Url da imagem</label>
        <input type="url" name="image" required>
    </div>

    <div class="input-block">
        <label for="">Marca</label>
        <input type="text" name="brand" required>
    </div>

    <div class="input-block">
        <label for="">Preço</label>
        <input type="number" name="price" required>
    </div>

    <div class="input-block">
        <label for="">Quantidade</label>
        <input type="number" name="amount" required>
    </div>

    <div class="input-block">
        <input type="submit" value="Adicionar">
    </div>
</form>