<form action="/update-product?_method=PUT" class="update" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <div class="input-block">
        <label for="">Novo Nome do Produto</label>
        <input type="text" name="newName" id="validate-name" required>
    </div>

    <div class="input-block">
        <label for="">Nova url</label>
        <input type="text" name="newImage" id="validate-url" required>
        
    </div>

    <div class="input-block">
        <label for="">Nova Marca</label>
        <input type="text" name="newBrand" id="validate-brand" required>
        
    </div>

    <div class="input-block">
        <label for="">Novo Preço</label>
    
        <input type="number" name="newPrice" id="validate-price" required>
        
    </div>

    <div class="input-block">
        <label for="">Nova Quantidade</label>
        <input type="number" name="newAmount" id="validate-amount" required>
    </div>

    <div class="input-block">
        <label for="">Id</label>
        <input class="id"  type="number" name="id" id="validate-id" required>
    </div>

    <div class="input-block">

        <input type="submit" value="Atualizar" onclick="validate(event)">
    </div>

    <div>
        <div class="message-error" id="message-error">Prencha algum dos campos acima do id!</div>
    </div>
</form>

