<form action="" class="update">

    <div class="input-block">
        <label for="">Novo Nome do Produto</label>
        <input type="text" id="validate-name" required>
    </div>

    <div class="input-block">
        <label for="">Nova url</label>
        <input type="text" id="validate-url" required>
        
    </div>

    <div class="input-block">
        <label for="">Nova Marca</label>
        <input type="text" id="validate-brand" required>
        
    </div>

    <div class="input-block">
        <label for="">Novo Preço</label>
    
        <input type="number" id="validate-price" required>
        
    </div>

    <div class="input-block">
        <label for="">Nova Quantidade</label>
        <input type="number" id="validate-amount" required>
    </div>

    <div class="input-block">
        <label for="">Id</label>
        <input class="id"  type="number" id="validate-id" required>
    </div>

    <div class="input-block">

        <input type="submit" value="Atualizar" onclick="validate(event)">
    </div>

    <div>
        <div class="error" id="error">Prencha algum dos campos acima do id!</div>
    </div>
</form>

