/* Base */

 .create, .update, .delete {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    align-items: flex-end;
}

 .input-block + .input-block{
    margin-top: 1rem;
}

.input-block {
    padding: .2rem;

    padding: 0 2rem 0 0;

}

.input-block label {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    font-weight: 700;
    
    display: block;
    margin-bottom: 1rem;
    padding: .1rem;
    
}

.input-block label::after {
    content: "";
    display: block;
    margin-top: .4rem;
    min-width: 18rem;

    border-bottom: 2px solid var(--color-yellow);
}

.input-block input {
    width: 18rem;
    height: 2rem;

    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--color-cyan);
    
    padding: 0 0 0 .8rem;
    background-color: var(--color-white);

    text-decoration: none;
    border: none;
    outline: none;

    display: block;
}

input[type="number"]::-webkit-inner-spin-button { /* Removendo a caixinha giratória do input number*/
    -webkit-appearance: none;
}

.input-block .id {
    width: 3rem;
    text-align: center;
    padding: 0;
}



.input-block input:focus {
    border: 2px solid var(--color-cyan-weak);
}

.input-block input:valid {
    border: 2px dashed #a8dda8;
}

.input-block input[type="submit"] {
    margin-top: 1rem;
    height: 2.8rem;
    background-color: var(--color-yellow);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.8rem;
    border: none;

    transition: background .2s;
}


/* Create */

.input-block input[type="submit"]:hover {
    background-color: #a8dda8;
}
 
/* Update */

.update input[type="submit"]:hover {
    background-color: #fddb3a;
}

.input-block:nth-child(6) {
    width: 3rem;
    text-align: center;
    padding: 0;
    margin-right: calc(100% - 3rem);
}

.input-block:nth-child(6)label::after {
    width: 33rem;
} 

/* Delete */

.delete input[type="submit"] {
    margin-top: 2rem;
}

.delete input[type="submit"]:hover {
    background-color: #f56a79;
}





@media(min-width:1100px) {
    
.input-block label {
    font-size: 1.8rem;
    
}

.input-block label::after {
    min-width: 25rem;
}

.input-block input {
    width: 25rem;
    height: 3rem;

    font-size: 1.5em;
}

.input-block .id {
    width: 5rem;
    text-align: center;
    padding: 0;
}

.create input[type="submit"],
.update input[type="submit"], 
.delete input[type="submit"] {
    height: 4rem;
}


}



