#container {
    background: #f3f4f8;

    display: flex;
    flex-direction: column;

}

.main-container {
    height: calc(100% - 6rem);
    font-family: 'Open Sans', sans-serif;

    color: #40a8c4;
}


.title {
    margin: 4rem 0 0 4rem;

    font-size: 3rem;
}


.search {
    margin: 2rem 0 0 4rem;


    background-color: var(--color-white-strong);
    border: 1px solid var(--color-grey);
    width: 30rem;
    height: 2.5rem;
    
    display: flex;


}
.search input[type="submit"],
.search input[type="search"] {
    outline: none;
    border: none;
    width: 100%;

}


.search input[type="submit"] {
    width: 3rem;
    background-color: var(--color-white-strong);

    
    background-image: url(/images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    
}

.search input[type="search"] {
    padding-left: .3rem;
}
.search input[type="search"]::placeholder {
    padding-left: 1rem;
}























/* 
.search {
    margin: 0 0 0 0;
    background: var(--color-white);
    width: 30rem;
    height: 3rem;
    border-radius: 3rem;

    display: flex;
}

.search input[type="submit"], 
.search input[type="search"] {
    width: 3rem;
    height: 30px;

    text-decoration: none;
    border: none;
    background: var(--color-white);
    overflow: hidden;

    outline: none;
}



.search input[type="submit"] {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    
    border-radius: 3rem 0 0 3rem;
}

.search input[type="submit"]:hover {
    background: var(--color-grey);

    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.search input[type="search"] {
    width: 100%;
    border-radius: 0 3rem 3rem 0;
   padding-left: 2%;
   font-family: 'Cabin', sans-serif;

}
 */


 /*
 
.search {
    width: 25rem;
}

.search input[type="submit"], 
.search input[type="search"] {
    width: 5rem;
    height: 3.5rem;
}



.search input[type="submit"],
.search input[type="submit"]:hover {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    
    border-radius: 3rem 0 0 3rem;
}

.search input[type="search"] {
    width: 100%;
    font-size: 1.5rem;
}

 */

 /*
   .search {
        width: 45rem;
        margin-left: 6rem;

    }
    
    .search input[type="submit"], 
    .search input[type="search"] {
        width: 5rem;
        height: 3.5rem;
    }
    
    
    
    .search input[type="submit"],
    .search input[type="submit"]:hover {
        background-image: url(../images/search.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        
        border-radius: 3rem 0 0 3rem;
    }
    
    .search input[type="search"] {
        width: 100%;
        font-size: 1.5rem;
    }
 */