.appear-menu {
    background-color: var(--color-cyan);
    
    height: calc(100% - 6rem);
    width: 100%;

    position: absolute;
    top: 6rem;

    display: none;
}

.menu-nav {
    margin-top: 10rem;
    text-align: center;
}

.menu-nav div {
    margin-bottom: 3rem;  
    padding: 3rem;
}


.menu-nav div::before {
    content: "";
    display: block;

    border-top: 3px solid var(--color-yellow);
    width: 30rem;

    position: relative;
    left: calc(50% - 15rem);
    bottom: 4rem;
}


.menu-nav div:nth-child(1)::before {
    content: none;
}



.menu-nav div a{
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    letter-spacing: .1rem;


}

.menu-nav div:hover a{
    color: var(--color-blue);
}


@media(min-width: 640px) {

    .appear-menu {
        height: calc(100% - 7rem);
        top: 7rem;
    }

    .menu-nav div::before {
        width: 40rem;
        left: calc(50% - 20rem);
    }
    .menu-nav div a{
        font-size: 3rem;
    }

}


/*animation*/
@keyframes appear{
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

.appear-animation {
    animation-name: appear;
    animation-duration: 100ms;
}