<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>supermarket</title>


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/appear-menu.css">
    <link rel="stylesheet" href="/css/options.css">
    <link rel="stylesheet" href="/css/page-panel-controls.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

</head>
<body id="page-panel-controls">
    <div id="container">
        
        <div class="popup low-animation" id="popup">
            <p>Não existe esse produto cadastrado no banco de dados!</p>
        </div>

        <header class="header appear-animation" id="header">
            <div class="logo">
            </div>

            <div class="menu-container">
                <input type="checkbox" id="menu-hamburguer" style="display: none;" onclick="menuHamburguer()">
            
                <label for="menu-hamburguer">
                    <div class="menu-hamburguer"></div>
                </label>
                    
                <div class="menu">
                    <ul>
                        <li><a href="/">Consultar produtos</a></li>
                        <li><a href="/administer-products">Administrar produtos</a></li>
                        <li><a  target="_blank" href="https://github.com/julioceno">Github</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <aside class="appear-menu appear-animation" id="appear-menu">

            <nav class="menu-nav">
                <div><a href="/">Consultar produtos</a></div>
                <div><a href="/administer-products">Administrar produtos</a></div>
                <div><a target="_blank" href="https://github.com/julioceno">Github</a></div>
            </nav>
          
       
        </aside>

        <main class="panel-controls" id="panel-controls">


            <h2 class="title">Painel de controle</h2>

            <section class="principal-section">

                <div class="options">
                <input type="checkbox" id="arrow" onclick="arrowChecked()">

                <label for="arrow">
                    <img src="images/arrow.png" alt="">
                </label>

                <ul class="select-options low-animation" id="select-options"> 
                    <li class="create"><a href="/create" id="create">Adicionar</a></li>
                    <li class="update"><a href="/update" >Atualizar</a></li>
                    <li class="delete"><a href="/delete" >Deletar</a></li>
                </ul>
                </div>

                <section class="option" id="option"></section>
        
        </section>

        </main>

        <footer class="footer"></footer>
    </div>
</body>
<script src="/javascript/administer-product.js"></script>
<script src="/javascript/validateOptions.js"></script>
</html>


