<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>supermarket</title>


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/appear-menu.css">
    <link rel="stylesheet" href="/css/page-landing.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container">
        
        <header class="header appear-animation" id="header">
            <div class="logo">
            </div>

            <div class="menu-container">
                <input type="checkbox" id="menu-hamburguer" style="display: none;" onclick="menuHamburguer()">
            
                <label for="menu-hamburguer">
                    <div class="menu-hamburguer"></div>
                </label>
                    
                <div class="menu">
                    <ul>
                        <li><a href="/">Consultar produtos</a></li>
                        <li><a href="/administer-products">Administrar produtos</a></li>
                        <li><a  target="_blank" href="https://github.com/julioceno">Github</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <aside class="appear-menu appear-animation" id="appear-menu">

            <nav class="menu-nav">
                <div><a href="/">Consultar produtos</a></div>
                <div><a href="/administer-products">Administrar produtos</a></div>
                <div><a target="_blank" href="https://github.com/julioceno">Github</a></div>
            </nav>
          
       
        </aside>

        <main class="main-container">
                
                <h2 class="title">Produtos Cadastrados</h2>
               
                <div class="search" id="search">
                    <input type="submit" value="">
                    <input type="search" name="" id="" placeholder="Procurar">
                </div>
    

                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Imagem</th>
                                <th>Marca</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th>id</th>
                            </tr>
                        </thead>

                        <tbody>
                                
                            {% for product in products %}
                                <td>{{product.name}} </td>
                                <td><img src="{{ product.image }} " alt="{{product.name}}"></td>
                                <td>{{product.brand}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.amount}}</td>
                                <td>{{product.id}}</td>
                                </tr>

                                {% endfor %}
                        </tbody>
                    </table>
                </div>
        </main>


        <footer class="footer"></footer>
    </div>
</body>
<script src="/javascript/page-landing.js"></script>
</html>
